{% extends 'inicio.html' %} {% block contenido %} 
<div class=" row justify-content-center d-flex gap-2">
{% for categoria in object_list %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img
        src="{{ categoria.imagen }}"
        alt="Avatar"
        style="width: 300px; height: 300px; object-fit: cover;"
      />
    </div>
    <div class="flip-card-back d-flex flex-column justify-content-around w-100" style="background-color: #747d8c !important">
      <a href="{% url 'noticias:filtro_categoria' categoria.pk %}" class="fs-4 text-white fw-semibold category-link d-inline" style="text-decoration: none; background-color: #2f3542;">
        {{ categoria.nombre }}
      </a>
      <p class="fw-semibold py-3" >{{ categoria.description | truncatechars:171 }}</p>
    </div>
  </div>
</div>
{% endfor %} 
</div>
{% endblock contenido %}
