{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
    <h1>Lista de Noticias</h1>
     <div class="row mt-3">
      <div class="col-md-3">
        <h4>CATEGORIAS</h4>
          <a href="?fl=todas">TODAS</a><br>
            {% for c in categorias %}
              <a href="?fl={{c.nombre}}">{{c.nombre}}</a><br>
            {% endfor %}
        <hr>
        <h4>ORDEN</h4>
        <ul>
          <span>ALFABETICO</span>
          <li><a href="?orden=ala">ASCEND</a></li>
          <li><a href="?orden=ald">DSCEND</a></li>
        </ul>
        <ul>
          <span>ANTIGUEDAD</span>
          <li><a href="?orden=ana">MAS ANTIGUAS</a></li>
          <li><a href="?orden=and">MAS RECIENTE</a></li>
        </ul>
    
    </div>
      <div class="col-md-9 mx-auto mb-5">
        <div class="row">
        {% if error %}
            <div class="alert alert-danger">
              {{error}}
            </div>
     {% else %}
        {% for noticia in noticias %}
        <li>
            <img src="{{noticia.imagen.url}}">
            <a href="{% url 'noticias:detalle_noticia' noticia.id %}" >Ver noticia completa</a>
            <strong>{{ noticia.titulo }}</strong> - {{ noticia.fecha_publicacion }}{{ noticia.fecha_modificacion }}

            {% if user.is_staff %}
            <a href="{% url 'noticias:editar_noticia' noticia.id %}">Editar</a>
            <a href="{% url 'noticias:eliminar_noticia' noticia.id %}">Eliminar</a>
            {% endif %}
        </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endblock contenido %}