<!DOCTYPE html>
<html>
<head>
    <title>Lista de Noticias</title>
</head>
<body>
    <h1>Lista de Noticias</h1>
    <ul>
        {% for noticia in noticias %}
        <li>
            <img src="{{noticia.imagen.url}}">
            <strong>{{ noticia.titulo }}</strong> - {{ noticia.fecha_publicacion }}{{ noticia.fecha_modificacion }}
            <a href="{% url 'noticias:editar_noticia' noticia.id %}">Editar</a>
            <a href="{% url 'noticias:eliminar_noticia' noticia.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>