{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
    <h1>Lista de Noticias</h1>
     <div class="row mt-3">
      <div class="col-md-3">
        <h4>CATEGORIAS</h4>
            <a href="?fl=todas">TODAS</a><br>
            {% for c in categorias %}
              <a href="?fl={{c.nombre}}">{{c.nombre}}</a><br>
            {% endfor %}
        <hr>
    <ul>
        {% for noticia in noticias %}
        <li>
            <img src="{{noticia.imagen.url}}">
            <a href="{% url 'noticias:detalle_noticia' noticia.id %}" >Ver noticia completa</a>
            <strong>{{ noticia.titulo }}</strong> - {{ noticia.fecha_publicacion }}{{ noticia.fecha_modificacion }}
            <a href="{% url 'noticias:editar_noticia' noticia.id %}">Editar</a>
            <a href="{% url 'noticias:eliminar_noticia' noticia.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock contenido %}