{% extends 'inicio.html' %}
{% load static %}
{% block contenido %}
    <h1>Noticias Destacadas</h1>
    <ul>
        {% for noticia in noticias %}
        <li>
            <img src="{{noticia.imagen.url}}">
            <a href="{% url 'noticias:detalle_noticia' noticia.id %}" >Ver noticia completa</a>
            <strong>{{ noticia.titulo }}</strong> - {{ noticia.fecha_publicacion }}{{ noticia.fecha_modificacion }}
            <a href="{% url 'noticias:editar_noticia' noticia.id %}">Editar</a>
            <a href="{% url 'noticias:eliminar_noticia' noticia.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock contenido %}