{% extends 'inicio.html' %} {% block contenido %}
<section class="py-4 mb-5">
  <div class="container mb-5">
    <div class="row">
      <div class="row col-md-12">
        <div class="row gallery d-flex justify-content-center w-100">
          {% for noticias in object_list %}
          <div class="col-12 col-sm-4 col-md-3 col-lg-2 my-2 gallery-img border-0">
            <a href="{{ noticias.imagen.url }}" class="rounded-4" data-baguettebox="gallery">
              <img
                style="object-fit:cover !important"
                height="200px"
                width="100%"
                src="{{ noticias.imagen.url }}"
                class="rounded-4"
              />
            </a>
          </div>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contenido %}
