{% extends 'inicio.html' %} 
{% block contenido %}
<div class="d-flex align-items-center m-5 justify-content-center h-100">
    <form method="POST" class="loginform card d-flex flex-column">
      {% csrf_token %} {{form.errors}}
      <div class="m-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input class="form-control" type="text" name="username"  />
      </div>
      <div class="m-3">
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
        <input class="form-control" type="password" name="password"  />
      </div>
      <!-- <input class="card-item m-3" type="submit" name="" value="Enviar" /> -->
      <button type="submit" class="btn btn-primary m-3">Ingresar</button>
    </form>
</div>
{% endblock contenido %}
