body {
  font-family: "Poppins", sans-serif !important;
  display: block;
  height: 100vh !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  font-weight: 700;
}

.slogan {
  font-weight: 400;
}

.menu li a {
  color: white !important;
}
.btn-outline-secondary {
  border-color: white;
  color: white;
}
.btn-outline-secondary:hover {
  border-color: white;
  color: black;
  background-color: white;
}
.tchaco-header {
  background-color: #0e281f !important;
}
.footerPersonal {
  position: fixed;
  background-color: #0e281f;
  width: 100vw !important;
  bottom: 0 !important;
}

.flip-card {
  background-color: transparent !important;
  width: 300px !important;
  height: 300px !important;
  perspective: 1000px !important;
}


.flip-card-inner {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  transition: transform 0.8s !important;
  transform-style: preserve-3d !important;
}


.flip-card:hover .flip-card-inner {
  width: 300px !important;
  height: 300px !important;
  transform: rotateY(180deg) !important;
}


.flip-card-front,
.flip-card-back {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  -webkit-backface-visibility: hidden !important; 
  backface-visibility: hidden !important;
}


.flip-card-front {
  color: black !important;
}


.flip-card-back {
  background-color: #00000077 !important;
  color: white !important;
  transform: rotateY(180deg) !important;
}

.category-link:hover {
  color: grey !important;
}

.item-link {
  text-decoration: none;
}

.item-link:hover {
  background-color: grey;
}

.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.shadow-propio {
  box-shadow: 3px 3px 5px 1px gray;
}


#id_titulo,
#id_first_name,
#id_last_name,
#id_username,
#id_password1,
#id_password2,
#id_email {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#id_contenido, #id_texto {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#id_imagen {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

#id_categoria {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  width: auto !important;
}

#id_imagen::file-selector-button {
  color: #333;
  cursor: pointer;
}
