.cuerpo {
    background-color: lightgreen;
}
.titulo {
    background-color: lightblue;
}
.contenedor {
    display: flex;
    justify-content: left;
    align-items: center;
}
.txt {
    margin-right: 50px;
    margin-bottom: 100px;
}
.h1 {
    font-size: 70px;
}
.h2 {

}
.imagen {
    margin-left: 40px;
    margin-bottom: 100px;
}
.contenedor2 {
    display: flex;
    justify-content: right;
    align-items: center;
}
.txt2 {
    margin-right: 50px;
    margin-bottom: 100px;
}
.usuario {

}
.menu {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.menu li {
    font-size: 30px;
}
.menu a {
    color: lightgreen;
    text-decoration: none;
}

