{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <head>
      {% if user.is_authenticated %} 
      Hola como estás {{user.username}}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'usuarios:registrar' %}">Registrar</a>
      {% endif %}
    </head>

    {% block primerBloque %}{% endblock primerBloque %}
    <img
      src="{% static 'img/shadow of the colossus.jpg' %}"
      alt=""
      width="300"
    />
    <p>Hola</p>
    {% block contenido %}{% endblock contenido %}
  </body>
</html>
